configuration {
  display-drun: "󰣇 Apps";
  display-run: " Run";
  display-window: " Windows";
  drun-display-format: "{icon} {name}";
  font: "CaskaydiaCove Nerd Font Medium 12";
  modi: "window,drun";
  show-icons: true;
  icon-theme: "Gruvbox Plus Dark";
}

@theme "theme.rasi"
